body {
    font-family: 'Rajdani', 'Times New Roman', Times, serif;
    font-weight: 600;
    background-color: lightblue;
}

.header {
    border: 5px solid black;
    text-align: center;
    margin: 10px;
    padding: 30px;
    background-color: lightcyan;
}

.top {
    scale: 1.5;
    margin: 0px;
}

#borger {
    background-image: url("borger.jpg");
    background-size: cover;
    height: 600px;
    background-position: center;
}

#pankake {
    background-image: url("pankake.jpg");
    background-size: cover;
    height: 600px;
    width: 600px;
    background-position: center;
}

#pissa {
    background-image: url("pissa.jpg");
    background-size: cover;
    height: 600px;
    background-position: center;
}

.Recipes {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.columbs {
    width: 33%;
    text-align: center;
}

.columbs div {
    margin-top: 10px;
    width: 90%;
    border-radius: 25px;
    border: 5px solid black;
}

.columbs img:hover {
   transform: scale(1.5);
   transition: 0.3s;
   cursor: pointer;
}

.columbs p:hover {
    font-weight: 900;
}

.Food {
   width: 20%;
   height: 20%;
   margin-top: 10px;
   border-radius: 25px;
   border: 5px solid black;
}